@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/*--------Styles--------*/

.body-style {
    background-color: grey;
}

body {
  padding-top: 100px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

/*-------Footer-------*/

footer ul li a i {
  text-decoration: none;
  color: orange;
}

.footer-style {
    width: 100%;
    line-height: 60px;
    background-color: #343a40!important;
}

/*-------Home Main-------*/

.about-style {
    color: #fff;
    padding-top: 50px;
}

.image-style {
    text-align: center;
    padding-top: 100px;
}

.image-style img {
    border: 1px solid black;
    border-radius: 180%;
    width: 175px;
    height: 175px;
}